<style>
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Roboto&display=swap');
</style>

<div class="row header">
    <nav>
        <div class="nav-wrapper">
          <a href="#!"><img class="logo" src="../../../assets/brand-logo.png"></a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down" style="padding-right: 70px;">
            <li><a class="roboto-w" href="/contact">Contact</a></li>
            <li><a class="roboto-w" href="#">Pricing</a></li>
            <li><a class="roboto-w btn color-pink" style="width:160px" href="#">Log in</a></li>
          </ul>
        </div>
      </nav>
    
    
      <ul class="sidenav" id="mobile-demo">
        <li><a class="roboto" href="/contact">Contact</a></li>
        <li><a class="roboto" href="#">Pricing</a></li>
        <li><a class="roboto" href="#">Log in</a></li>
      </ul>
</div>