.header{
    height:80px;
    padding-top: 8px;
    margin: 0px;
    background-color: rgb(22,38,86);
}

.color-pink{
    background-color: rgb(244, 163, 174);
}

.icons{
    height: 25px;

}

.nav-wrapper{
    background-color: rgb(22,38,86);
    height: 70px;
}

.logo{
    margin-top: 8px;
    margin-left:60px;
    height:50px;
    width: auto;
}

a.roboto{
    font-family: 'Roboto', sans-serif;
}

a.roboto-w{
    color: white;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}