<style>
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto&display=swap');
</style>

<!--Row1-->
<div class="c1 hide-on-med-and-down" style="padding-top: 100px; padding-bottom: 10px;">
  <div class="row">
      
    <div class="col l6 s12 valign-wrapper" style="padding-left: 150px;">
        <div class="valign">
            <img src="../../../assets/link-shortener-logo.png" class="logo">
            <p class="roboto-w flow-text">URL Shortener</p>
            <p class="customfont1">Boost and control<br>your links.</p>
            <p class="roboto-w flow-text">Manage, brand and track your<br>links the smart way.</p>
        </div>
    </div>

    <div class="col l6 right-align hide-on-med-and-down" style="padding: 0px">
      <img class="responsive" src="../../../assets/c1-graphic.png">
    </div>

  </div>
</div>

<div class="c1 hide-on-large-only center-align" style="padding-bottom: 10px;">
  <div class="row">
      
    <div class="col l6 s12 valign-wrapper">
        <div class="valign">
          <img src="../../../assets/link-shortener-logo.png" class="logo">
          <p class="roboto-w flow-text">URL Shortener</p>
          <p class="customfont2">Boost and control<br>your links.</p>
          <p class="roboto-w flow-text">Manage, brand and track your<br>links the smart way.</p>
        </div>
    </div>

  </div>
</div>

<!--Circle-->
<div class="circle responsive hide-on-med-and-down" style="position: absolute; left: -140px; bottom: -200px;"></div>

<!--Row2-->
<div class="valign-wrapper center-align c2">
  <div class="row">
      <p style="font-weight: bold; padding-top: 50px; padding-bottom: 25px;" class="col s12 m8 offset-m2 l12 customfont">Engage and grow your brand with Sales-Hub<br>
      link management solution.</p>
  </div>  
</div>

<!--Row3-->
<div class="color-pink center-align" style="padding-top: 50px; padding-bottom: 50px;">
    <p class="customfont4 flow-text col s12" style="padding-bottom: 10px;">Innovative features that maximize<br>
      your links and business.</p>

    <div class="row">
      <a class="btn-small" style="background-color: #e77179;">Multiple Domains</a>
      <a class="btn-small">Real-Time Tracking</a>
      <a class="btn-small">Workspaces</a>
    </div>

    <div class="row valign-wrapper" style="height: auto; margin: 0px;">

      <div class="col s12 m6 l6 right-align hide-on-med-and-down">
        <img class="graphic2" src="../../../assets/c4-graphic.png">
      </div>

      <div class="col s12 m6 l6 left-align hide-on-med-and-down" style="margin: 50px;">
          <p class="customfont3 flow-text">Multiple Custom Domains</p>
          <p class="customfont" style="font-size: 23px; color: white;">Create, shorten and manage your own branded domains<br>easily in one place.<br><br></p>
          <a class="btn-large color-white" style="color: #f4a3ae; font-size: 1.4vw; font-weight: bold;">Schedule Your Demo</a>
        </div>

        <div class="col s12 m12center-align hide-on-large-only">
          <p class="customfont3 flow-text">Multiple Custom Domains</p>
          <p class="customfont" style="font-size: 23px; color: white;">Create, shorten and manage your own branded domains<br>easily in one place.<br><br></p>
          <a class="btn-large color-white" style="color: #f4a3ae; font-size: 1.4vw; font-weight: bold;">Schedule Your Demo</a>
        </div>

    </div>
</div>

<!--Row4-->
<div class="my-wrapper valign-wrapper center-align c4" style="background-color: #020c30;">

    <div class="row">
      <p class="col s12 m12 l12 customfont2 flow-text">Connect and simplify your day-to-day operations</p>
      <h3 class="col s12 m12 l12 customfont2 flow-text" style="margin-top: 0%;">Our link management solution integrates with the tools you love,<br>
        so you can automate your work and focus on what matters</h3>

    </div>
</div>

<!--Circle2-->
<div class="circle2 hide-on-med-and-down" style="position: absolute; right: 0px; bottom: -1530px;"></div>

<!--Row5-->
<div class="my-wrapper valign-wrapper center-align">
  <div class="row">
    <p class="customfont flow-text" style="padding-top:50px; padding-bottom: 20px; font-weight: bold;">Take your links to a whole new level</p>
  </div>
</div>

<div class="valign-wrapper">
    <div class="row" style="padding-bottom: 10px;">
      
        <div class="col l6 center-align hide-on-med-and-down" style="width: 440px;">
          <div class="card">
            <div class="color-pink">
              <span class="color-pink" style="color: #f4a3ae;">100 Links</span>
            </div>
            <div class="card-content">
              <h4 class="card-font1" style="font-size: 24px;">100 LINKS<br></h4>
              <p class="card-font2">$49<sup>.99 </sup><span style="font-size: 15px; color: black;">month</span></p>
              <h4 style="font-size: 18px; line-height: 30px;">Total $109.99/month<br>Billed annually</h4>
            </div>
            <div class="card-action">
              <a class="color-pink btn" href="#">Learn more</a>
            </div>
          </div>
        </div>

        <div class="col l6 center-align hide-on-med-and-down" style="width: 440px;">
          <div class="card">
            <div class="color-blue">
              <span class="color-blue">Unlimited</span>
            </div>
            <div class="card-content" style="padding-top: 104px; padding-bottom: 45px;">
              <h4 class="card-font1" style="font-size: 65px;">UNLIMITED</h4>
              <h4 style="font-size: 22px;">Contact us for our unlimited plan</h4>
            </div>
            <div class="card-action">
              <a class="c6 btn" href="#">Learn more</a>
            </div>
          </div>
        </div>

        <!--responsive cards-->
        <div class="col push-s1 s10 m6 l6 center-align hide-on-large-only">
          <div class="card">
            <div class="color-pink">
              <span class="color-pink" style="color: #f4a3ae;">100 Links</span>
            </div>
            <div class="card-content">
              <h4 class="card-font1" style="font-size: 24px;">100 LINKS<br></h4>
              <p class="card-font2">$49<sup>.99 </sup><span style="font-size: 15px; color: black;">month</span></p>
              <h4 style="font-size: 18px; line-height: 30px;">Total $109.99/month<br>Billed annually</h4>
            </div>
            <div class="card-action">
              <a class="color-pink btn" href="#">Learn more</a>
            </div>
          </div>
        </div>

        <div class="col push-s1 s10 m6 l6 center-align hide-on-large-only">
          <div class="card">
            <div class="color-blue">
              <span class="color-blue">Unlimited</span>
            </div>
            <div class="card-content" style="padding-top: 70px; padding-bottom: 15px;">
              <h4 class="card-font1" style="font-size: 36px;">UNLIMITED</h4>
              <h4 style="font-size: 22px;">Contact us for our unlimited plan</h4>
            </div>
            <div class="card-action">
              <a class="c6 btn" href="#">Learn more</a>
            </div>
          </div>
        </div>

      </div>
</div>

<!--Row6-->
<div class="valign-wrapper center-align" style="background: linear-gradient(90deg, #F4A325 0%, #E96100 100%); height: 500px; width: auto;">
  <div class="hide-on-med-and-down" style="position: relative; top:-170px">
    <img style="height: 100px; width: auto; position: absolute; padding-left: 100px;" src="../../../assets/c6-graphic-1.png">
  </div>

    <div class="row">
      <p class="col s12 m12 l12 flow-text" style="padding-bottom: 18px;">Give your links the power they need.<br></p>
      <a href="#" class="btn-large" style="background-color: #181B3B;">Get Started</a>
    </div>

    <div class="hide-on-med-and-down" style="position: relative; right: 300px; top:100px">
      <img style="height: 100px; width: auto; position: absolute; padding-right: 100px;" src="../../../assets/c6-graphic-2.png">
    </div>

</div>